body {
    background-color: deepskyblue;
    font-family: Georgia;
}
#container{
    background-color: aliceblue;
    border: 3px;
    padding: 20px 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    width:800px;

}